  /*--------------------------------------
  Basis
  ---------------------------------------*/
  
  html {
    width:100%;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    opacity: 0.9;
    background-color: #003770;
    height: 20000px;
    font-family:Yu Mincho;
    line-height: 40px;
  }

body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

a:hover {
  opacity: 0.7;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0;
    padding: 0;
}



/*--------------------------------------
top-menu
---------------------------------------*/


.top-menu{
    width: 80%;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    margin-top: 70px;
}

.top-menu-list {
    display: flex;
    justify-content: space-between;

}

.top-menu-list li{
    width: 10rem;
    padding: 5px;
    background-color: yellow;
    text-align: center;
    font-weight: bold;
}

/*--------------------------------------
main-visulal
---------------------------------------*/
.main-visual{
  width: 50%;
}

.main-visual img{
  width: 100%;
}

/*--------------------------------------
main-text
---------------------------------------*/
.main-text{
  display: flex;
  justify-content: center;
  text-align: center;
}
.main-text p{
  font-size: 1.5rem;
  color: white;
  font-family:Yu Mincho;
}

/*--------------------------------------
news
---------------------------------------*/
.news-box {
  margin-top: 30px;
  background-color: white;
  width: 50%;
  padding: 30px;
  font-family:Yu Mincho;
  height: 250px;
}

.news-title {
  text-decoration: solid black 1px;
  font-size: 1.2rem;
  border-bottom: 1px solid black;

}

/*--------------------------------------
content-details
---------------------------------------*/
.content-details {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.division-title {
  margin: 150px 0px 30px 0px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: white;
}

.division-subtitle {
  margin: 80px 0px 10px 0px;
  color: white;
  font-size: 1.5rem;
  border-bottom: 1px white solid;
}

/*--------------------------------------
philosophy
---------------------------------------*/
.philosophy-text {
  color: white;
  font-size: 1.2rem;
}

/*--------------------------------------
activity
---------------------------------------*/
.activity {
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  
}

.activity-content {
  margin-left: 20px;
}

.activity-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.activity-img img{
  width: 80%;
}

/*--------------------------------------
activity2
---------------------------------------*/
.activity2 {
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  
}

.activity2-img{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 80px;
}

.activity2-img img{
  width: 80%;
}

/*--------------------------------------
information
---------------------------------------*/
.information {
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  
}

.information a{
  color: yellow;
  font-size: 1.2rem;
  text-decoration: solid 1px white;
  
}

/*--------------------------------------
inquiry
---------------------------------------*/
.inquiry {
  color: white;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  
}

.radio-section {
  display: flex;
  flex-direction: column;
}
